.example-card {
  width: 500px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.14), 0 1px 5px rgba(0, 0, 0, 0.12), 0 2px 5px rgba(0, 0, 0, 0.2);
}

.custom-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
