/* Global styles for Menu header and others */

@import '~@swimlane/ngx-datatable/index.css';
@import '~@swimlane/ngx-datatable/themes/material.scss';
@import '~@swimlane/ngx-datatable/assets/icons.css';

.acc-ally-Logo {
  font-family: 'Russo One';
  font-style: normal;
  font-weight: 400;
  font-size: 25px;

  display: flex;
  align-items: center;
  text-align: center;

  background: linear-gradient(0deg, #aac3ff, #aac3ff), linear-gradient(93.06deg, #cba2ff 46.85%, #ffcef1 53.5%),
    linear-gradient(93.06deg, #cba2ff 46.85%, #ffcef1 53.5%), linear-gradient(93.06deg, #cba2ff 46.85%, #ffcef1 53.5%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  cursor: pointer;
  // text-fill-color: transparent;
}
