.header {
  font-family: Inter;
  font-weight: 700;
  line-height: 40px;
  font-size: 32px;
  color: #121250;
  padding: 12px 0px;
}

.paragraph {
  color: #79767d;
  font-style: normal;
  font-size: 18px;
  font-weight: 400;
  line-height: 175%;
  font-family: 'Inter';
}
