<div class="content ml-12 h-auto min-h-screen transform ease-in-out duration-500 pt-1 px-2 md:px-5 pb-4">
  <div class="flex flex-wrap my-5 -mx-2">
    <div class="w-full">
      <div class="transform ease-in-out duration-500">
        <img class="object-cover rounded-2xl w-full h-32" src="assets/images/dashboardHeaderGraphicsSized.svg" />
      </div>
    </div>
  </div>

  <div class="flex flex-row justify-evenly">
    <div class="grow px-2 pl-3">
      <div class="card"><app-barchart></app-barchart></div>
    </div>
    <div class="grow px-2 pr-3">
      <div class="card"><app-piechart></app-piechart></div>
    </div>
  </div>
</div>
